body {
    background:url(sky.jpeg);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: orangered;
    background font: black;
}

p{
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap; /* agar responsif di layar kecil */
}

.profil {
    width: 30%;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.profil img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #444;
}

.profil ul {
    text-align: left;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .profil {
        width: 80%;
    }
}